fastapi==0.111.0
uvicorn==0.30.1
sqlalchemy==2.0.31
psycopg2-binary==2.9.9
pgvector==0.3.1
pydantic==2.7.4
pydantic-settings==2.3.4
celery==5.4.0
redis==5.0.7
imagehash==4.3.1
pillow==10.3.0
numpy==1.26.4
transformers==4.41.2
facenet-pytorch==2.6.0
scikit-learn==1.5.0
requests==2.32.3
google-auth==2.30.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
pytest==8.2.2
httpx==0.27.0
